@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #e0e0e0;
}

.content {
    padding: 1rem;
    background-color: #eeeeee;
    height: 100vh;
    width: 100vw;
}

.pokemons {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.pokemon {
    display: flex;
    flex-direction: column;
    margin: .5rem;
    padding: 1rem .5rem;
    background-color: #14A06F;
    color: white;
    border-radius: 1rem;
    height: 140px;
    width: 170px;
}

.pokemon .number {
    color: rgba(0, 0, 0, 0.295);
    text-align: right;
}

.pokemon .name {
    color: #FFF;
    margin: .25px;
    margin-bottom: 0;
    font-size: .825rem;
}

.pokemon .detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.pokemon .detail .types {
    padding: 0;
    margin: 0;
    list-style: none;
}

.pokemon .detail .types .type {
    background-color: #19cc8d;
    color: #FFF;
    padding: 0.25rem .5rem;
    margin: .25rem 0;
    font-size: .825rem;
    border-radius: 1rem;
}

.pokemon .detail img {
    max-width: 100%;
    height: 70px;
    align-self: flex-end;
    padding-left: 1rem;
}

@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        max-height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}

@media screen and (min-width: 992px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 576px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 992px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 380px) {
    .pokemons {
        grid-template-columns: 1fr 1fr;
    }
}